body {
  background-image: url(complementos/naranja.avif);
  background-size: cover;
  text-align: center;
  font-weight: lighter;
  font: message-box;
}

#login1 {
  background-image: url(complementos/bg1.jpg);

  width: 550px;
  height: 650px;
  border-radius: 20px;
}

#login2 {
  width: 550px;
  height: 650px;
  background-color: white;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.input {
  transform: translateY(90px);
  width: 400px;
  height: 40px;
  border-radius: 220px;
  text-align: center;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
}

.btn {
  transform: translateY(110px);
  font-size: 1rem;
  font-weight: 700;

  border-radius: 220px;
  transition: all 0.3s;
  background-color: lightsalmon;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
}

.texto {
  transform: translatey(90px);
}

.titulo {
  font-weight: bolder;
  transform: translateY(70px);
}
